.container {
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error {
    display: flex;
    flex-direction: column;

    h1 {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 140px;
        color: #F7F9FA;
    }

    span {
        margin-top: 12px;
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: #F7F9FA;
    }

    p {
        margin-top: 12px;
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #ABABAF;
    }

    button{
        margin-top: 36px;
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        align-items: center;
        justify-content: center;
        width: 287px;
        height: 50px;
        border-radius: 8px;
        background-color: #1C92E0;
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #F7F9FA;

        &:active{
            transform: scale(95%);
        }
    }
}