.container {
    position: relative;
    padding: 12px 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 310px;
        height: 1px;
        background-color: #1F272A;
    }

    &:hover {
        background-color: #13181C;
    }

    img {
        width: 54px;
        height: 80px;
        border-radius: 8px;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #FCFCFC;
    }

    span {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: rgba(240, 240, 240, 0.72);
    }
}

.noneBorder {
    &::after {
        width: 0;
    }

    padding-bottom: 0;
}

.nonePadding {
    padding-top: 0;
}