.itemContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.main {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.container {
    display: flex;
    padding: 20px 16px 16px 16px;
    flex-direction: column;
    width: 326px;
    height: 374px;
    border-radius: 16px;
    border: 1px solid #1F272A;
    background-color: rgba(11, 20, 24, 0.8);
}

.priceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    height: 120px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 310px;
        height: 1px;
        background-color: #1F272A;
    }
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }
}
.total{
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 0;
        width: 310px;
        height: 1px;
        background-color: #1F272A;
    }

    p{
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
    }

    span{
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #FFFFFF;
    }
}
.inputContainer{
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    span{
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: rgba(247, 249, 250, 0.65);
    }

    input{
        width: 292px;
        height: 44px;
        border-radius: 12px;
        border: 1px solid #454F54;
        background-color: #13181C;
        padding-left: 12px;
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #F7F9FA;
    }
}
.btn{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 294px;
    height: 50px;
    border-radius: 8px;
    background-color: #1C92E0;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #F7F9FA;
}