.ratingBox {
    margin-top: 15px;
    width: 286px;
    height: 56px;
    background: #15181A;
    border-radius: 8px;
    border: 1px solid #232627;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    cursor: pointer;
}