.container {
    position: relative;
    padding: 12px 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 310px;
        height: 1px;
        background-color: #1F272A;
    }

    &:hover {
        background-color: #13181C;
    }

    .image {
        margin-left: 12px;
        width: 80px;
        height: 80px;
        overflow: clip;
        border-radius: 12px;
    }
}

.infoSection {
    display: flex;
    flex-direction: column;


    p {
        height: 42px;
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #FCFCFC;
    }
}

.eyeAndRating {
    position: absolute;
    top: 54px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.rating {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    align-items: center;
    height: 21px;

    img {
        width: 16px;
        height: 16px;
    }

    span {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #FCFCFC;
    }
}

.eye {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    height: 20px;

    img {
        width: 16px;
        height: 16px;
    }

    span {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: rgba(240, 240, 240, 0.72);
    }
}

.noneBorder {
    &::after {
        width: 0;
    }

    padding-bottom: 0;
}

.nonePadding {
    padding-top: 0;
}