.newsContainer {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    border-bottom: 1px solid #272B30;
}

.imageCover {
    width: 180px;
    height: 120px;
    border-radius: 8px;
}

.infoSection {
    position: relative;
    display: flex;
    flex-direction: column;

    span {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.4);
    }

    h3 {
        margin-top: 8px;
        font-family: Inter, sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;

        &:hover{
            color: #1C92E0;
        }
    }

    p {
        margin-top: 8px;
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #888888;
    }
}
.iconCover{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    color: transparent;
    background-color: transparent;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}
.titleWrapper:hover .iconCover {
    opacity: 1;
}
.noneBorder{
    border-bottom: none;
    padding-bottom: 0;
}