.charityContainer {
    position: relative;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
    width: 326px;
    height: 82px;
    border-radius: 8px;
    background-color: #1A1D1F;

    button {
        position: absolute;
        top: 22px;
        right: 22px;
        width: 41px;
        height: 16px;
        border-radius: 4px;
        background-color: #1C92E0;
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #F7F9FA;
        cursor: pointer;

        &:active {
            transform: scale(98%);
        }
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1px;

    h4 {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #FCFCFC;
    }

    p {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #6F767E;
    }
;
}