.curs {
    padding: 24px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 676px;
    height: 189px;
    border-radius: 8px;
    background-color: #1A1D1F;
}

.curs:hover {
    cursor: pointer;
    outline: 1px solid #1C92E0;

    h2 {
        color: #1C92E0;
    }
}

.imageSection {
    position: relative;
    width: 275px;
    height: 141px;
}

.imageCover {
    position: absolute;
    width: 185px;
    height: 141px;
    border-radius: 6px;
    border: 1px solid rgba(247, 249, 250, 0.08);
}

.imageRating {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    backdrop-filter: blur(7px);
    width: 53px;
    height: 29px;
    border-radius: 6px;
    border: 1px solid rgba(247, 249, 250, 0.16);
    background-color: rgba(11, 20, 24, 0.6);

    span {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #F7F9FA;
    }
}

.imageLang {
    position: absolute;
    bottom: 9px;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 22px;
    border-radius: 4px;
    border: 1px solid #696969;
    background-color: #1A1D1F;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #C9C4A6;
}

.infoSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    height: 44px;

    h2 {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #F7F9FA;
    }

    p {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(247, 249, 250, 0.6);
    }
}

.price {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    height: 42px;
}

.oldPrice {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(247, 249, 250, 0.64);
    text-decoration: line-through rgba(220, 45, 45, 0.8);
}

.newPrice {
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #82CC27;
}

.free {
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #82CC27;
}

.navAndHeart {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 24px;
}

.cursNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
}

.navSec {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;

    span {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: rgba(247, 249, 250, 0.6);
    }
}

.line {
    width: 1px;
    height: 20px;
    background-color: #3D4549;
}

.heart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}