.container {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 472px;
    border-radius: 8px;
    background-color: #1A1D1F;
    transition: height 0.6s ease-in-out;
}

.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;

    span {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #FCFCFC;
    }
}

.level {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    align-items: center;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #9DA1A3;
    cursor: pointer;

    .all {
        display: flex;
        flex-direction: row;
        column-gap: 4px;
        align-items: center;
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #9DA1A3;
        cursor: pointer;
    }
}

.arrow {
    transform: rotate(-90deg);
}

.books {
    height: 395px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
