.container{
    position: relative;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 54px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 98%;
        height: 1px;
        background-color: #272B30;
    }

    p{
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #F7F9FA;
    }
}

.dark{
    background-color: #15181A;
}

.numberCover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 45px;
    width: 37px;
}

.nameCover{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    width: 455px;

    span{
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #F7F9FA;
    }
}

.pointsCover{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    width: 170px;

    span{
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #82CC27;
    }
}