.main {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.videoAndRating {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    background-color: #272B30;
    border-radius: 8px;
    overflow: clip;

    img {
        cursor: pointer;
    }
}

.videoTitle {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    height: 58px;

    p {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #FCFCFC;
    }
}

.chevron {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;

    span {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #9DA1A3;
    }

    img {
        transform: rotate(270deg);
    }
}

.battleLike {
    padding: 0 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    height: 68px;
}

.gamerLike {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    width: 150px;
    height: 42px;

    p {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #F7F9FA;
    }
}

.like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 36px;
    border-radius: 2px;
    background-color: #82CC27;
}

.disLike {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 36px;
    border-radius: 2px;
    background-color: rgba(220, 45, 45, 0.1);
}

.gamerDisLike {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
    width: 123px;
    height: 42px;

    p {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #F7F9FA;
        text-align: end;
    }
}

.ratingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 326px;
    height: 369px;
    border-radius: 12px;
    border: 1px solid #1F272A;
    background-color: #1A1D1F;
    overflow: clip;
}

.ratingTitle {
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1F272A;
    width: 326px;
    height: 54px;

    p {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #F7F9FA;
    }
}

.matchAndNews {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 676px;
}

.headContainer {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.head {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    width: 326px;
    height: 108px;
    border-radius: 8px;
    border: 1px solid rgba(28, 146, 224, 0.16);
    background: linear-gradient(60deg, rgba(93, 124, 200, 0.2), #13181C 30%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    overflow: clip;
    cursor: pointer;

    &:active {
        transform: scale(98%);
    }

    &:hover {
        background: linear-gradient(60deg, rgba(93, 124, 200, 0.3), #13181C 30%, rgba(93, 124, 200, 0.3));
    }

    .little {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 16px;

        img {
            filter: drop-shadow(180px -35px 30px #1C92E0);
        }
    }

    span {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #F7F9FA;
    }
}

.big {
    position: absolute;
    right: 0;
    z-index: 0;
    opacity: 5%;
}

.matchTable {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 20px;
    width: 676px;
    height: 466px;
    border-radius: 8px;
    background-color: #1A1D1F;
}

.matchTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    width: 636px;

    p {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #FCFCFC;
    }
}

.tableNav {
    margin-top: 16px;
    padding-left: 40px;
    padding-right: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 36px;
    border: 1px solid #151C1F;
    background-color: #272B30;

    span {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #9D9FA1;
    }
}

.gameResult {
    margin-right: 34px;
    margin-left: 190px;
}

.gameHod {
    margin-right: 94px;
    margin-left: 24px;
}

.liveContainer {
    position: relative;
    margin-top: 24px;
    width: 676px;
    height: 88px;
    border-radius: 8px;
    overflow: clip;

    .mainImage {
        z-index: 1;
        position: absolute;
    }

}

.liveCover {
    z-index: 2;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 100%;
    background-color: #0481B9;

    .btn {
        width: 102px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid rgba(247, 249, 250, 0.08);
        background-color: rgba(10, 32, 65, 1);
        filter: drop-shadow(0 0 10px #0A2041);
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #FCFCFC;
        cursor: pointer;

        &:active {
            transform: scale(98%);
        }
    }
}

.newsSection {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.newsTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 27px;

    p {
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #FCFCFC;
    }
}

.newsBtn {
    margin-top: 32px;
    width: 131px;
    height: 40px;
    border-radius: 8px;
    background-color: #1A1D1F;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #EFEFEF;
    cursor: pointer;

    &:active {
        transform: scale(98%);
    }

    &:hover {
        background: #1C92E0;
    }
}

.bannerSection{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}