.container {
    padding: 16px 12px;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    width: 100%;
    height: 72px;
    border-radius: 12px;
    border: 1px solid #1A2226;
}

.text {
    display: flex;
    flex-direction: column;

    span {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #9DA1A3;
    }

    p {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #F7F9FA;
    }
}