.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 334px;
    height: 290px;
    border-radius: 8px;
    background-color: #1A1D1F;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p{
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #FCFCFC;
    }

    span{
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #1C92E0;
        cursor: pointer;
    }
}

.select{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    span{
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: rgba(247, 249, 250, 0.6);
    }
}