.main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    justify-content: center;
}

.mainContainer {
    padding: 32px 32px 10px 32px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 1026px;
    height: 555px;
    border-radius: 12px;
    border: 1px solid #1F272A;
    background-color: #1A1D1F;
}

.infoSection {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
    height: 272px;
}

.imageCover {
    position: relative;
    width: 195px;
    height: 272px;
    border-radius: 4px;
    border: 1px solid rgba(247, 249, 250, 0.08);
    overflow: clip;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);
}

.front {
    position: absolute;
    top: 48px;
    left: 40px;
    width: 115px;
    height: 175px;
    border: 1px solid rgba(247, 249, 250, 0.4);
}

.infoCover {
    display: flex;
    flex-direction: column;
    height: 272px;

    h1 {
        width: 600px;
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: #F7F9FA;
    }
}

.price {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;

    img {
        margin-right: 12px;
        width: 28px;
        height: 28px;
    }
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newPrice {
    margin-right: 6px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #F7F9FA;
}

.oldPrice {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(247, 249, 250, 0.64);
    text-decoration: line-through rgba(220, 45, 45, 0.8);
}

.bookNav {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    padding: 12px;
    width: 187px;
    height: 62px;
    border: 1px solid #2C2F31;

    p {
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #F7F9FA;
    }
}

.navCover {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    align-items: center;

    img {
        width: 16px;
        height: 16px;
    }

    span {
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #9DA1A3;
    }
}

.buttonContainer {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
}

.basket {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 50px;
    border-radius: 8px;
    background-color: #1C92E0;
    cursor: pointer;
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #F7F9FA;

    &:active {
        transform: scale(95%);
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.basketActive {
    background-color: rgba(255, 255, 255, 0.1);
}
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(247, 249, 250, 0.3);
    background-color: rgba(247, 249, 250, 0.1);
    cursor: pointer;
}
.heart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}
.textSection{
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    h2{
        font-family: poppins, sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #F7F9FA;
    }

    p{
        font-family: poppins, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #C2C4C5;
    }
}
.bannerSection{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}