.main{
    position: fixed;
    top: 32px;
    right: 382px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 37px;
    width: 1100px;
}

.search{
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #1C92E0;
    background-color: #15181A;

    input{
        background-color: transparent;
        border: none;
        outline: none;
        font-family: poppins, sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #F7F9FA;
        width: 100%;
    }
}

.result{
    position: fixed;
    top: 120px;
    left: 382px;
    width: 1100px;
    height: 194px;
    border-radius: 8px;
    background-color: #1A1D1F;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 5;
}